body {
    margin: 0;
    padding: 0;

}

.mainheader {
    background: #1f2937;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e5e7eb;
    height: auto;
}

.headerlogo {
    max-width: 100%;
    height: 80px;
}

.headercontainer {
    width: auto;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.mainheader .headercontainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navbar .navlinks {
    margin: 1em 0 .5em;
    text-align: center;
}

.navbar .navitem {
    display: inline;
}

.navbar .navlink {
    display: inline-block;
    padding: .5em 1.5em;
}

.navlink {
    text-decoration: none;
    color: #e5e7eb;
}

.topcontainer {
    width: auto;
    max-width: 100%;
    padding: 20px;
    gap: 8px;
    margin: 0 auto;
    display: flex;
    background: #1f2937;
}

.toptext {
    font-family: Arial, Helvetica, sans-serif;
    color: #e5e7eb;
    flex: 1;
    padding: auto;
    margin-left: 300px;
}

.topheading {
    size: 48px;
}

.topsubtext {
    size: 18px;
}

.topimg {
    height: 80px;
    width: auto;
    margin-right: 300px;
}

.midtitle {
    font-family: Arial, Helvetica, sans-serif;
    size: 36px;
    color: black;
    display: flex;
    padding: 8px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.mttext {
    flex: 1;
    text-align: center;
}


.midcontainer {
    width: auto;
    max-width: 100%;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 8px;
    padding-bottom: 8px;
    gap: 8px;
    margin: 0 auto;
    display: flex;
    background: white;
    justify-content: space-between;
    align-items: center;   
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.img {
    height: 250px;
    width: 75%;
    border: 5px solid #3882F6;
    border-radius: 25px;
}

.mid2container {
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    background: #e5e7eb;
    text-align: center;
    
}

.mid2text {
    font-family: Arial, Helvetica, sans-serif;
    color: #1f2937;
    flex: 1;
    text-align: center;
    padding-left: 700px;
}

.quote {
    size: 605px;
    width: 500px;
    text-align: center;
}

.author {
    size: 40px;
    
}

.bot {
    max-width: 100%;
    padding-top: 40px;
    padding-left: 500px;
    padding-right: 500px;
    padding-bottom: 40px;
    margin: 0 auto;
    display: flex;
    background: white;
    text-align: center;
    
}

.call2action {
    background-color: #3882F6;
    flex: 1;
    border: 2px solid #3882F6;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

.c2aheading {

    color: white;
    size: 20px;
}

.c2asubtext{
    color: rgb(215, 229, 245);
    size: 15px;
}

.signupbutton2 {
    flex: 1;
}

footer {
    background: #1f2937;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    size: 10px;
    padding: 30px;
}
